
.HOME {
    background-color: rgb( 113, 113, 113 );
    position: absolute;
    left: 4.057cm;
    top: 5.574cm;
    width: 0.564cm;
    height: 0.564cm;
    z-index: 41;
}
.TheText {
    font-size: 0.4500cm;
    font-family: Roboto;

    color: rgb(0, 0, 0);
    line-height: 1.499;
    text-align: left;

    z-index: 33;
}

.lina_copy {
    background-color: rgb( 205, 220, 57 );
   top: 50.412cm;
    width: 35%;
    height: 0.071cm;
    z-index: 25;
}

.rowKontact{
    margin-bottom: 2%;
    margin-top: 2%;
}




