.col-6AUP{
    background: white;
    opacity: 0.8;
}

.HOME {
    background-color: rgb( 113, 113, 113 );
    position: absolute;
    left: 4.057cm;
    top: 5.574cm;
    width: 0.564cm;
    height: 0.564cm;
    z-index: 41;
}
.TheText {
    font-size: 0.4500cm;
    font-family: Roboto;

    color: rgb(0, 0, 0);
    line-height: 1.499;
    text-align: left;

    z-index: 33;
}

.Заклад_розташований_в_зоні_лікувального_парку_н {
    font-size: 0.635cm;
    font-family: "Roboto";
    color: rgb( 0, 0, 0 );
    line-height: 1.499;
    text-align: left;
    position: absolute;
    left: 5.57388888888889cm;
    top: 12.8763888888889cm;
    width: 17.11cm;
    height: 10.16cm;
    z-index: 33;
}

.AURowBackground{
    background: url("../img/AboutUsBackground.jpg") no-repeat;
    background-position: 100%;
    background-size: cover;


}



.ThePlusiki > li:before{
    content: "+ ";
    font-family:"Arial Black" ;
    color: gray;
}

.TheGalochki > li:before{
    content: "✔	 ";
    font-family:"Arial Black" ;
    color: gray;
}

.TheKrujochki > li:before{
    content: "• ";
    font-family:"Arial Black" ;
    font-size: 20px;
    color: gray;
}

.ULNone{
    list-style-type: none;
    padding-left: 0;
}


.lina_copy {
    background-color: rgb( 205, 220, 57 );


    top: 50.412cm;
    width: 35%;
    height: 0.071cm;
    z-index: 25;
}

.div1BckImgAUP{
    background: url("../img/TheFoto1.jpg") no-repeat;
    background-size: cover ;
}
.div2BckImgAUP{
    background-image: url("../img/TheFoto2.jpg");
    background-size: cover;
}







